article ul,
article ol {
  padding: none;
}
article ul li,
article ol li {
  line-height: 50px;
}
.back {
  font-size: 20px;
}
table tr th {
  font-size: 18px;
  color: white;
  font-weight: 300;
}
table thead th {
  color: white;
  font-weight: 600;
}
table th {
  padding: 10px 0;
}
table {
  width: 100%;
  text-align: left;
}
#cvBlock {
  display: grid;
  grid-template-columns: 12fr;
  grid-template-areas:
    "titel"
    "videocv"
    "ervaring"
    "foto"
    "studie"
    "eigenschappen"
    "talen"
    "contact"
    "back";
  gap: 50px;
}
#titeltje {
  grid-area: titel;
}
#videocv {
  grid-area: videocv;
}
#ervaring {
  grid-area: ervaring;
}
#vandenborre {
  grid-area: foto;
}
#vandenborre img {
  width: calc(100vw - 150px);
}
#studie {
  grid-area: studie;
}
#eigenschappen {
  grid-area: eigenschappen;
}
#talen {
  grid-area: talen;
}
#contact {
  grid-area: contact;
}
#back {
  grid-area: back;
}
@media screen and (min-width: 768px) {
  #cvBlock {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr;
    grid-template-areas:
      "titel titel ."
      "videocv videocv ."
      "ervaring ervaring foto"
      "studie studie foto"
      "eigenschappen talen talen"
      "contact contact ."
      "back back .";
    gap: 60px;
  }
  #titeltje {
    grid-area: titel;
  }
  #videocv {
    grid-area: videocv;
  }
  #ervaring {
    grid-area: ervaring;
  }
  #vandenborre {
    grid-area: foto;
  }
  #vandenborre img {
    width: calc(25vw - 0px);
  }
  #studie {
    grid-area: studie;
  }
  #eigenschappen {
    grid-area: eigenschappen;
  }
  #talen {
    grid-area: talen;
  }
  #contact {
    grid-area: contact;
  }
  #back {
    grid-area: back;
  }
}
@media screen and (min-width: 1024px) {
}
