article ul,
article ol {
  padding: none;
}
article ul li,
article ol li {
  line-height: 50px;
}
.back {
  font-size: 20px;
}
table tr th {
  font-size: 18px;
  color: white;
  font-weight: 300;
}
table thead th {
  color: white;
  font-weight: 600;
}
table th {
  padding: 10px 0;
}
table {
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  #cv {
    width: 100%;
  }
  table {
    width: 100%;
  }
  #ervaring {
    width: 75%;
    float: left;
  }
  #vandenborre {
    float: right;
    width: 25%;
  }
}
