#homeBlock {
  display: grid;
  grid-template-columns: 12fr;
  grid-template-areas:
    "titel"
    "tekst"
    "foto"
    "contact";
  gap: 25px;
}
#titeltje {
  grid-area: titel;
}
#tekst {
  grid-area: tekst;
}
#profiel {
  grid-area: foto;
}
#profiel img {
  width: calc(100vw - 100px);
}
#contact {
  grid-area: contact;
}

input {
  height: 50px;
}
input[type="submit"] {
  margin-top: 10px;
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 30px;
  cursor: pointer;
  transition-duration: 0.5s;
}
input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.259);
}
label {
  color: white;
}
form {
  width: 100%;
  color: white;
  margin: 50px 0;
}
input,
textarea {
  width: 100%;
  border-radius: 10px;
  background: none;
  border: 1px solid white;
  color: white;
  padding-left: 20px;
  display: block;
  margin: 20px 0;
  font-size: 18px;
  line-height: 25px;
  font-family: "Courier New", Courier, monospace;
}
textarea {
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  input,
  textarea {
    width: 75%;
  }
  #homeBlock {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-areas:
      "titel ."
      "tekst foto"
      "contact contact";
    gap: 60px;
  }

  #titeltje {
    grid-area: titel;
    height: fit-content;
    align-self: end;
  }
  #tekst {
    grid-area: tekst;
    height: fit-content;
    margin: 0;
  }
  #profiel {
    grid-area: foto;
  }
  #profiel img {
    width: 100%;
  }
  #contact {
    grid-area: contact;
  }
}
@media screen and (min-width: 1024px) {
  #homeBlock {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-template-areas:
      "titel foto"
      "tekst foto"
      "contact contact";
    gap: 50px;
  }
  #tekst {
    width: 80%;
  }
  form {
    width: calc(100vw - 160px);
  }
  input,
  textarea {
    width: 40%;
    display: inline-block;
    margin: 10px 10px 10px 0;
  }
  textarea {
    padding-top: 20px;
    width: 60%;
  }
}
