/*home*/
#intro {
  width: 75%;
  float: left;
  margin: 0 0 50px 0;
}
#profiel {
  float: right;
  width: 20%;
  margin: 0 0 50px 0;
}
#profiel img {
  max-height: 450px;
  border-radius: 80px;
}
/*form*/
form {
  width: 75%;
  color: white;
}
input,
textarea {
  width: 40%;
  border-radius: 10px;
  background: none;
  border: 1px solid white;
  color: white;
  padding-left: 20px;
  display: inline-block;
  margin: 10px 10px 10px 0;
  font-size: 18px;
  line-height: 25px;
  font-family: "Courier New", Courier, monospace;
}
textarea {
  padding-top: 20px;
  width: 60%;
}
input {
  height: 50px;
}
input[type="submit"] {
  margin-top: 10px;
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 30px;
  cursor: pointer;
  transition-duration: 0.5s;
}
input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.259);
}
label {
  color: white;
}
@media screen and (max-width: 675px) {
  #profiel {
    float: none;
    margin: 0 0 50px 0;
  }
  #profiel img {
    max-height: 300px;
    border-radius: 80px;
  }
  #intro {
    width: 100%;
    float: none;
  }
  form {
    width: 100%;
  }
  input,
  textarea {
    width: 80%;
    border-radius: 10px;
    background: none;
    border: 1px solid white;
    color: white;
    padding-left: 20px;
    display: block;
    margin: 15px 10px 10px 0;
    font-size: 18px;
    line-height: 25px;
    font-family: "Courier New", Courier, monospace;
  }
}
