#projecten article a:hover {
  text-decoration: none;
}
#projecten article a figure img {
  width: 100%;
  border-radius: 15px;
  transition-duration: 1s;
}
#projecten article a:hover figure figcaption {
  color: white;
  transform: rotate(2deg);
}
#projecten article a figure {
  margin: 0;
  width: 100%;
}
#projecten article {
  width: 100%;
  margin: 50px 0;
}
#projecten article a figure figcaption {
  color: white;
  text-align: left;
}
#projecten {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  #projecten {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  #projecten article {
    width: 350px;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  #projecten article {
    width: 30%;
    height: 30%;
    margin: 10px 40px 50px 0;
  }
  #projecten article a figure figcaption {
    color: #151515;
    transition-duration: 0.5s;
  }
}
