.projectafbeeldingen figure img {
  width: 100%;
  border-radius: 10px;
}
.projectafbeeldingen figure {
  display: inline-block;
  width: 80%;
  margin: 40px 0;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  .projectafbeeldingen figure {
    width: 40%;
    margin: 10px 25px 0 0;
  }
  .projectafbeeldingen {
    width: 100%;
    display: flex;
  }
}
