/*algemeen*/
html {
  font-family: "Source Sans 3", Arial, "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #151515;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
*::selection {
  background-color: #e65c4f;
  color: white;
}
main {
  padding: 10px 100px 10px 100px;
}
footer {
  padding: 0 50px 0 50px;
}
article {
  margin: 70px 0;
}
article p {
  width: 80%;
}
footer {
  width: 100%;
  clear: both;
}
section {
  margin: 70px 0;
}

/*header*/
header {
  background-color: #cccccc;
  padding: 10px 100px 20px 100px;
  height: 150px;
  margin: 0 0 40px 0;
  box-shadow: 2px 2px 2px 1px #cccccc65;
}
header .navigatie {
  float: right;
  margin-top: 20px;
}
header .navigatie ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header .navigatie ul li {
  width: auto;
  margin: 0 0px 0 50px;
  display: inline-block;
}
.navigatie ul li a {
  color: black;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}
.nonunderline:hover {
  text-decoration: none;
  border-bottom: 2px solid #e65c4f;
}
.underline {
  border-bottom: 2px solid #e65c4f;
}
.nonunderline {
  transition-duration: 0.5s;
  border-bottom: 2px solid transparent;
}
header .socials {
  float: right;
  width: 50%;
  height: 30px;
  margin-top: 5px;
}
header .socials ul {
  margin: 0;
  list-style-type: none;
}
header .socials ul li {
  float: right;
  margin: 0 0 0 25px;
}
header .socials ul li a img {
  height: 30px;
  transition-duration: 1s;
}

.socials ul li a img:hover {
  transform: rotate(360deg);
}

/*tekst elementen*/
h1 {
  float: left;
  margin: 40px 0 0 0;
  color: black;
  font-size: 70px;
  font-weight: 550;
  line-height: 60px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}
h2 {
  font-size: 45px;
  line-height: 10px;
  color: white;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 50px;
}
h3 {
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}
h4 {
  font-size: 20px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  margin-top: 50px;
  margin-bottom: 10px;
}
p,
li {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}
footer p {
  text-align: center;
  width: 100%;
}
a {
  color: #e65c4f;
  text-decoration: none;
}
p a {
  font-weight: 600;
}
a:hover {
  text-decoration: none;
}
figcaption {
  color: white;
  margin-top: 10px;
}
span {
  color: #e65c4f;
  font-weight: 600;
}
#hamburger {
  display: none;
}

@media screen and (max-width: 675px) {
  .navigatie {
    display: none;
  }

  header .navigatie {
    float: none;
    margin-top: 20px;
  }
  header .navigatie ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  header .navigatie ul li {
    margin: 10px 0px;
  }
  header {
    background-color: #cccccc;
    padding: 10px 20px 0px 20px;
    height: 100%;
    margin: 0 0 40px 0;
    box-shadow: 2px 2px 2px 1px #cccccc65;
    display: flex;
    flex-direction: column;
  }
  main {
    padding: 10px 20px 10px 20px;
  }
  h1 {
    text-align: center;
    float: none;
    margin: 0px 0 0 0;
  }
  .socials {
    display: none;
  }
  .socials ul {
    display: flex;
    flex-direction: row;
  }
  header .socials ul li {
    float: none;
  }
  #hamburger {
    width: 50px;
    margin: 25px auto 10px auto;
    display: block;
  }
}
