/*algemeen*/

html {
  font-family: "Source Sans 3", Arial, "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #151515;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
*::selection {
  background-color: #f04c25;
  color: white;
}
header {
  background-color: #cccccc;
  padding: 10px 100px 20px 100px;
  height: 150px;
  margin: 0 0 40px 0;
  box-shadow: 2px 2px 2px 1px #cccccc65;
}
main {
  padding: 10px 100px 10px 100px;
}
footer {
  padding: 0 50px 0 50px;
}
article {
  margin: 70px 0;
}
article p {
  width: 80%;
}
footer {
  width: 100%;
  clear: both;
}
section {
  margin: 70px 0;
}

/*header*/
.underline {
  border-bottom: 2px solid #f04c25;
}
header .navigatie {
  float: right;
  height: 100%;
  margin-top: 40px;
}
header .navigatie ul {
  list-style-type: none;
  justify-content: left;
  padding: 0;
  margin: 0;
}
header .navigatie ul li {
  width: auto;
  margin: 0 0px 0 50px;
  display: inline-block;
}
.navigatie ul li a {
  color: black;
  font-size: 25px;
  transition-duration: 0.5s;
  border-bottom: 2px solid transparent;
  font-family: "Courier New", Courier, monospace;
}
.navigatie ul li a:hover {
  text-decoration: none;
  border-bottom: 2px solid #f04c25;
}
header .socials {
  float: right;
  width: 50%;
  height: 25px;
  margin-top: 10px;
}
header .socials ul {
  margin: 0;
  list-style-type: none;
}
header .socials ul li {
  float: right;
  margin: 0 0 0 25px;
}
header .socials ul li a img {
  height: 30px;
  transition-duration: 1s;
}
.socials ul li a img:hover {
  transform: rotate(360deg);
}
/*home*/
#intro {
  width: 75%;
  float: left;
  margin: 0 0 50px 0;
}
#profiel {
  float: right;
  width: 20%;
  margin: 0 0 50px 0;
}
#profiel img {
  max-height: 450px;
  border-radius: 80px;
}

/*over mij*/
#studie {
  width: 75%;
  float: left;
  margin: 0 0 50px 0;
}
#ik {
  float: right;
  width: 20%;
  margin: 0 0 50px 0;
}
#ik img {
  max-height: 450px;
  border-radius: 80px;
}
#youtube {
  width: 50%;
  float: left;
}
#video {
  float: right;
  margin: 100px 0;
}
/*mijn projecten*/
#projecten {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#projecten article {
  width: 30%;
  height: 30%;
  margin: 10px 40px 50px 0;
}
#projecten article a:hover {
  text-decoration: none;
}
#projecten article a figure img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}
#projecten article a figure figcaption {
  color: #151515;
  transition-duration: 0.5s;
  text-align: left;
}
#projecten article a:hover figure figcaption {
  color: white;
}
#projecten article a figure {
  margin: 0;
}
/*tekst elementen*/

h1 {
  float: left;
  height: 100%;
  margin: 30px 0 0 0;
  color: black;
  font-size: 70px;
  font-weight: 550;
  line-height: 60px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}
h2 {
  font-size: 45px;
  line-height: 10px;
  color: white;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
h3 {
  font-size: 30px;
  font-weight: 600;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
h4 {
  font-size: 20px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
p,
li {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}
footer p {
  text-align: center;
  width: 100%;
}
.back {
  font-size: 20px;
}
a {
  color: #e65c4f;
  text-decoration: none;
}
p a {
  font-weight: 600;
}
a:hover {
  text-decoration: none;
}
figcaption {
  color: white;
  margin-top: 10px;
  text-align: center;
}
label {
  color: white;
}
span {
  color: #e65c4f;
  font-weight: 600;
}

/*tabel*/
table {
  width: 80%;
  text-align: left;
}
table tr th {
  font-size: 18px;
  color: white;
  font-weight: 300;
}
table thead th {
  color: white;
  font-weight: 600;
}
table th {
  padding: 10px 0;
}

/*cv*/
#ervaring {
  width: 75%;
  float: left;
  margin: 0 0 50px 0;
}
#vandenborre {
  float: right;
  width: 20%;
  margin: 0 0 50px 0;
}

#vandenborre img {
  max-height: 450px;
  border-radius: 80px;
}
article ul,
article ol {
  padding: none;
}
article ul li,
article ol li {
  line-height: 50px;
}
/*form*/
form {
  width: 75%;
  color: white;
}

input,
textarea {
  display: inline-block;
  margin-bottom: 10px;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}
input,
textarea {
  width: 40%;
  border-radius: 10px;
  background: none;
  border: 1px solid white;
  padding-left: 20px;
  display: inline-block;
  margin: 10px 10px 10px 0;
}
textarea {
  padding-top: 20px;
  width: 60%;
}
input {
  height: 50px;
}
input[type="submit"] {
  margin-top: 10px;
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 30px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.259);
}
